<app-admin-navbar></app-admin-navbar>
<div class="container">
    <div class="content">
      <div class="title-area">
        <h1 class="title">Deleção de usuário</h1>
      </div>
      <div class="register-area">
        <form class="register-form">
          <div class="register-row">
            <form class="d-flex width40" role="search">
              <input class="form-control me-2" type="search" placeholder="Buscar por CPF" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
          </div>
        </form>
      </div>
    </div>
</div>

  